:root {
    --color-principal: #f7bfff;
    --color-secundario: #F08080;
    --f-texto: 'Roboto', sans-serif;
}


/* INGRESO Y REGISTRO */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-principal);
    font-size: 16px;
}

.contenedor-logo {
    margin: 6rem 0 0 0;
    display: flex;
    justify-content: center;
}

.contenedor-logo img {
    width: 345px;
}

.contenedor-formulario {
    display: flex;
    justify-content: center;
}

.formulario {
    background-color: var(--color-secundario);
    margin: 2rem 2rem auto;
    width: auto;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 15px;
}

.contenedor-formulario .input {
    border: none;
    border-radius: 5px;
    padding: 1.5rem 0.5rem;
    margin: .5rem .5rem 1rem .5rem;
    width: 95%;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: var(--f-texto);
    background-color: rgba(255, 255, 255, 0.472);
    color: #e7305b;
}

@media (max-width: 400px) {
    .contenedor-formulario .input {
        width: auto;
    }
}

.contenedor-botones {
    display: flex;
    justify-content: space-around;
}

.contenedor-botones button {
    margin: 2rem 0 0 .5rem;
    padding: 1.5rem;
    font-size: 1rem;
    font-family: var(--f-texto);
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--color-principal);
    border-radius: 3rem;
    border: none;
    transition: ease-in-out .5s;
    width: 100%;
    color: #e7305b;
}

.contenedor-botones button:hover {
    background-color: #F4978E;
    color: #FFFF;
}

.contenedor-forgotpass {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.contenedor-forgotpass a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: var(--f-texto);
    color: rgb(0, 0, 0);
    transition: ease .5s;
}

.contenedor-forgotpass a:hover {
    color: var(--color-secundario);
}