:root {
    --color-principal: rgb(247, 191, 255);
    --color-secundario: rgb(240, 128, 128);
    --f-texto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/bg-index.png');
    background-size: cover;
    background-position: 0 -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
}

.logotipo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotipo-img{
    width: 70%;
    height: 7vh;
}

.navbar {
    width: 40%;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

ul{
    display: flex;
    justify-content: space-between;
}

ul li{
    list-style: none;
}

.links{
    font-family: var(--f-texto);
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--color-secundario);
    text-decoration: none;
    transition: .4s ease all;
    padding: 10px;
    position: relative;
}

.links::before{
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 0;
    height: 3px;
    background-color: var(--color-secundario);
    transition: all .3s;
}

.links:hover::before{
    width: 100%;
}

.links:before{
    left: 0;
}

.contenedor{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--f-texto);
    flex-direction: column;
}

.titulo{ 
    font-size: 64px;
    color: white;
}

.terms {
    font-size: 36px;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

.terms a{
    color: var(--color-secundario);
}

.btn-register{
    color: white;
    text-decoration: none;
    font-size: 26px;
    padding: 15px 30px;
    border: 2px solid white;
    background: linear-gradient(rgba(240,128,128,0.5), rgba(247, 191, 255,0.5));
    border-radius: 50px;
    transition: 5s ease background;
}

.btn-register:hover{
    background: linear-gradient(rgba(240,128,128,0.8), rgba(247, 191, 255,0.8));
    border: 1px solid black;
}